.asukino{
  background-image: url(../../img/church.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 800px;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-top: 60px;
  &__title{
    font-family: 'Inter';
    cursor: pointer;
    background: none;
    font-size: 50px;
    font-weight: 600;
    color: #c96b32;
    transition: .8s;
  }
  &__title:hover{
    color:chartreuse;
  }
}
